.gradinte-good {
    background-image:
        radial-gradient(rgba(0, 0, 0, 0.06) 1px, transparent 1px),
        linear-gradient(90deg,
            #ffb37b 0%,
            #f3b6b6 45%,
            #b7b9ff 100%)
}

.bi {
  transition: transform 0.2s ease, color 0.2s ease;
}

.bi:hover {
  transform: scale(1.2);
}
